@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.rectangleDiv {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 2px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 189px;
  height: 884px;
}
.main,
.rectangleDiv,
.signupA {
  position: absolute;
}
.signupA {
  cursor: pointer;
  text-decoration: none;
  top: 151px;
  left: 50px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.main {
  top: 101px;
}
.hostsA,
.main,
.vendorsA {
  cursor: pointer;
  text-decoration: none;
  left: 50px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.hostsA {
  position: absolute;
  top: 201px;
}
.vendorsA {
  top: 251px;
}
.fAQS,
.frameDiv,
.vendorsA {
  position: absolute;
}
.fAQS {
  cursor: pointer;
  text-decoration: none;
  top: 301px;
  left: 50px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.frameDiv {
  top: 0;
  left: 0;
  width: 189px;
  height: 884px;
}
.homeA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 63px;
  left: 50px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.menuDrawerDiv {
  position: relative;
  width: 189px;
  height: 100%;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.menuDrawerDiv.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 1200px) {
  .homeA {
    cursor: pointer;
  }
}
