@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }

  .addInput2{
    top: 1390px !important;
  }
  .footer,
  .lineDiv7{
    width: 100% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .frameDiv4,
  .frameDiv5{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 45% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
 
  .hostAccountDiv{
    left: 91% !important;
  } 
  .groupButton{
    border-radius: 20px !important;
    left: 95% !important;
}
  .closeA{
    left: 225% !important;
  }
  .sidebarDiv{
    width: 50% !important;
  }

  .lineDiv,
  .lineDiv1,
  .lineDiv3,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }


}













.currentSpacesAvailable {
  margin: 0;
  position: absolute;
  top: 1417px;
  left: 328px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.lineDiv {
  position: absolute;
  top: 1404.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.mySpacesForRent,
.profileA {
  position: absolute;
  display: inline-block;
}
.mySpacesForRent {
  margin: 0;
  top: 120px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  width: 720px;
}
.profileA {
  cursor: pointer;
  text-decoration: none;
  top: 0;
  left: 0;
  color: inherit;
}
.collaborations {
  top: 68px;
}
.accountSettings,
.collaborations,
.messages,
.mySpacesForRent1,
.payments {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.mySpacesForRent1 {
  top: 34px;
  font-weight: 700;
}
.accountSettings {
  top: 170px;
}
.messages {
  top: 102px;
}
.payments {
  top: 136px;
}
.rectangleIcon,
.sidebarDiv {
  position: absolute;
}
.sidebarDiv {
  top: 120px;
  left: 40px;
  width: 20%;
  height: 192px;
}
.rectangleIcon {
  top: 0;
  left: 0;
  width: 250px;
  height: 133px;
  object-fit: cover;
}
.shelfSpaceH6 {
  margin: 0;
  position: absolute;
  top: 145px;
  left: 12px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 217px;
}
.labelTextDiv {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.buttonA,
.frameDiv {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.buttonA {
  text-decoration: none;
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-800);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: var(--m3-label-large1-size);
  color: var(--color-red-200);
}
.frameDiv {
  top: 1451px;
  left: 328px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  width: 250px;
  height: 263px;
}
.addInput,
.frameDiv1 {
  position: absolute;
  top: 107px;
  left: 101px;
  width: 48px;
  height: 48px;
}
.frameDiv1 {
  top: 1451px;
  left: 590px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.lineDiv1,
.lineDiv2 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv1 {
  top: 79.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 150%;
  height: 1px;
}
.lineDiv2 {
  top: 119.5px;
  left: 299.5px;
  border-right: 1px solid var(--color-turquoise);
  width: 1px;
  height: 1595px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.rentmyshelfIncDiv {
  left: 40px;
}
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.supportDiv {
  left: 263px;
}
.contactDiv {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv3 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.groupFooter {
  position: absolute;
  top: 1754px;
  left: 0;
  width: 1440px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.lineDiv4 {
  position: absolute;
  top: 205.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.addInput1 {
  position: absolute;
  top: 107px;
  left: 101px;
  width: 48px;
  height: 48px;
  content: Change photo;
}
.buttonInput,
.frameDiv2 {
  position: absolute;
  overflow: hidden;
}
.frameDiv2 {
  top: 352px;
  left: 262px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 250px;
  height: 263px;
}
.buttonInput {
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  color: var(--color-red-100);
}
.frameDiv3,
.newSpaceH1 {
  position: absolute;
  left: 0;
}
.frameDiv3 {
  top: 352px;
  border-radius: var(--br-xs);
  width: 250px;
  height: 263px;
  overflow: hidden;
  background-image: url(../public/frame-12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.newSpaceH1 {
  margin: 0;
  top: 0;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.availableDatesLetVendors,
.photosAddUpToThreePhoto,
.shortDescriptionEgLeft {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}
.shortDescriptionEgLeft {
  top: 136px;
}
.photosAddUpToThreePhoto {
  top: 318px;
}
.availableDatesLetVendors {
  top: 627px;
  width: 1072px;
  height: 43px;
}
.rectangleInput {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 170px;
  left: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 530px;
  height: 136px;
}

.rectangleInput1 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 84px;
  left: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 530px;
  height: 40px;
}
.labelText {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 2px;
  color: var(--bs-body-bg);
  display: inline-block;
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--m3-sys-light-on-primary);
  text-align: center;
}
.buttonForm {
  position: absolute;
  top: 1107px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-red-200);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 127px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.clickAndDragToHighlightMu {
  margin: 0;
  position: absolute;
  top: 1018px;
  left: 36px;
  line-height: 160%;
  display: inline-block;
  width: 452px;
  height: 49px;
}
.datePickerDiv,
.errorIcon {
  position: absolute;
  top: 773px;
  left: 15px;
}
.errorIcon {
  top: 1019px;
  left: 0;
  width: 24px;
  height: 24px;
}
.spaceIsNotTimeLimited {
  margin: 0;
  position: absolute;
  top: 683px;
  left: 36px;
  display: inline-block;
}
.checkBoxFormCheck {
  position: absolute;
  top: 682px;
  left: 0;
}
.closeA,
.closeIcon {
  position: absolute;
}
.closeIcon {
  top: 9.08px;
  left: 9.08px;
  width: 21.83px;
  height: 21.83px;
}
.closeA {
  cursor: pointer;
  text-decoration: none;
  top: 6px;
  left: 140%;
  width: 40px;
  height: 40px;
}
.spaceFormDiv {
  position: absolute;
  top: 221px;
  left: 328px;
  width: 1072px;
  height: 1147px;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-800);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv1 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  width: 86.25px;
  height: 40px;
}
.groupDiv {
  top: 0;
  left: 0;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 58%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv5,
.hostAccountDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.hostAccountDiv {
  top: 10px;
  left: 122%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 8%;
  height: 40px;
}
.frameDiv4 {
  position: absolute;
  top: 13px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.editMySpacesDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1814px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
