@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }
  .addInput1{
    top: 1140px !important;
  }
  .addInput2{
    top: 1390px !important;
  }
  .footer,
  .lineDiv7{
    width: 100% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .frameDiv3{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
 
  .hostAccountDiv{
    left: 191% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}
  .linewali,
  .lineDiv,
  .lineDiv2,
  .lineDiv3,
  .lineDiv5,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }

  .h2,
  .h6{
    left: 200% !important;
  }

  .closeButton{
    left: 230% !important;
  }
  .replyButton{
    left: 225% !important;
  }

}









.collaborations,
.mySpacesForRent,
.profileA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 40px;
  color: inherit;
  display: inline-block;
}
.profileA {
  top: 120px;
}
.collaborations {
  top: 188px;
}
.mySpacesForRent {
  top: 154px;
}
.accountSettings {
  top: 290px;
}
.accountSettings,
.messages,
.payments {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 40px;
  color: inherit;
  display: inline-block;
}
.messages {
  top: 222px;
  font-weight: 700;
}
.payments {
  top: 256px;
}
.lineDiv,
.lineDiv1 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv {
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 150%;
  height: 1px;
}
.lineDiv1 {
  top: 119.5px;
  left: 299.5px;
  border-right: 1px solid var(--color-turquoise);
  width: 1px;
  height: 805px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.rentmyshelfIncDiv {
  left: 40px;
}
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.supportDiv {
  left: 263px;
}
.contactDiv {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv2 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.groupFooter {
  position: absolute;
  top: 964px;
  left: 0;
  width: 1440px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-800);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  width: 86.25px;
  height: 40px;
}
.groupDiv {
  top: 0;
  left: 0;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 90%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 40%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv1,
.hostAccountDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.hostAccountDiv {
  top: 10px;
  left: 84%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 6%;
  height: 40px;
}
.frameDiv {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 100%;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.inboxA,
.sentA {
  text-decoration: none;
  position: absolute;
  top: 206px;
  color: inherit;
  display: inline-block;
}
.inboxA {
  left: 324px;
  font-weight: 700;
}
.sentA {
  left: 407px;
}
.lineDiv3,
.lineDiv4 {
  position: absolute;
  top: 193.5px;
  left: 323.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.lineDiv4 {
  top: 267.5px;
}
.messagesH1 {
  margin: 0;
  position: absolute;
  top: 120px;
  left: 324px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 150%;
}
.fromAlphaCostumes,
.sent070420221235,
.subjectOpenSpaceOnCounter {
  margin: 0;
  position: absolute;
  left: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.subjectOpenSpaceOnCounter {
  top: 34px;
}
.fromAlphaCostumes {
  top: 0;
}
.sent070420221235 {
  top: 68px;
}
.whatTimeWould {
  margin-block-start: 0;
  margin-block-end: 0;
}
.alphacostumes {
  margin: 0;
}
.whatTimeWouldYouLikeMeTo {
  margin: 0;
  position: absolute;
  top: 130px;
  left: 0;
  display: inline-block;
  width: 1072px;
  height: 104px;
}
.closeIcon {
  position: absolute;
  height: 54.58%;
  width: 54.58%;
  top: 22.71%;
  right: 22.71%;
  bottom: 22.71%;
  left: 22.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closeButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 140%;
  width: 40px;
  height: 40px;
}
.replyIcon {
  position: absolute;
  height: 56.98%;
  width: 73.54%;
  top: 22.19%;
  right: 12.5%;
  bottom: 20.83%;
  left: 13.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.replyButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 135%;
  width: 40px;
  height: 40px;
}
.messageDetailDiv {
  position: absolute;
  top: 280px;
  left: 324px;
  width: 1072px;
  height: 234px;
}
.hostInboxDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
