@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }
  .addInput1{
    top: 1140px !important;
  }
  .addInput2{
    top: 1390px !important;
  }
  .footer,
  .lineDiv7{
    width: 100% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .frameDiv3{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
 
  .hostAccountDiv{
    left: 191% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}
  .linewali,
  .lineDiv,
  .lineDiv2,
  .lineDiv3,
  .lineDiv5,
  .lineDiv6{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }


}









.accountSertingsH1 {
  margin: 0;
  position: absolute;
  top: 120px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.collaborations,
.profileA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.profileA {
  top: 0;
}
.collaborations {
  top: 68px;
}
.mySpacesForRent {
  width: 102%;
  cursor: pointer;
  top: 34px;
}
.accountSettings,
.messages,
.mySpacesForRent,
.paymentSettings {
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.accountSettings {
  top: 170px;
  font-weight: 700;
}
.messages {
  cursor: pointer;
  top: 102px;
}
.paymentSettings {
  cursor: pointer;
  top: 136px;
}
.lineDiv,
.sidebarDiv {
  position: absolute;
}
.sidebarDiv {
  top: 120px;
  left: 40px;
  width: 143px;
  height: 192px;
}
.lineDiv {
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.securityH2 {
  margin: 0;
  position: absolute;
  top: 11px;
  left: 0;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.deactivate,
.deactivateYourAccount {
  position: absolute;
  top: 61px;
  display: inline-block;
}
.deactivateYourAccount {
  margin: 0;
  left: 0;
}
.deactivate {
  cursor: pointer;
  text-decoration: none;
  left: 197px;
  color: var(--color-red-200);
}
.section4Div {
  position: absolute;
  top: 753px;
  left: 328px;
  width: 1072px;
  height: 83px;
}
.messagesP {
  top: 98px;
}
.messagesP,
.requestsFromVendors,
.updatesFromRentmyshelf {
  margin: 0;
  position: absolute;
  left: 36px;
  display: inline-block;
}
.updatesFromRentmyshelf {
  top: 133px;
}
.requestsFromVendors {
  top: 62px;
}
.section3Div {
  position: absolute;
  top: 556px;
  left: 328px;
  width: 1072px;
  height: 155px;
}
.passwordH2,
.update {
  position: absolute;
  top: 61px;
  display: inline-block;
}
.passwordH2 {
  margin: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.update {
  text-decoration: none;
  left: 89px;
  color: var(--color-red-200);
}
.section2Div {
  position: absolute;
  top: 433px;
  left: 328px;
  width: 1072px;
  height: 83px;
}
.emailH6 {
  margin: 0;
  position: absolute;
  top: 63px;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.hughebdyhotmailcom,
.update1 {
  text-decoration: none;
  position: absolute;
  display: inline-block;
}
.update1 {
  cursor: pointer;
  top: 63px;
  left: 57px;
  color: var(--color-red-200);
}
.hughebdyhotmailcom {
  top: 97px;
  left: 0;
  font-weight: 700;
  color: inherit;
}
.contactNumberP,
.update2 {
  top: 131px;
  display: inline-block;
}
.contactNumberP {
  margin: 0;
  position: absolute;
  left: 0;
}
.update2 {
  cursor: pointer;
  text-decoration: none;
  left: 143px;
  color: var(--color-red-200);
}
.a,
.section1Div,
.update2 {
  position: absolute;
}
.a {
  text-decoration: none;
  top: 165px;
  left: 0;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.section1Div {
  top: 206px;
  left: 328px;
  width: 1072px;
  height: 187px;
}
.checkBoxFormCheck,
.checkBoxFormCheck1 {
  position: absolute;
  top: 688px;
  left: 328px;
}
.checkBoxFormCheck1 {
  top: 653px;
}
.checkBoxOutlineBlankFormCheck,
.lineDiv4 {
  position: absolute;
  top: 617px;
  left: 328px;
}
.lineDiv4 {
  top: 119.5px;
  left: 299.5px;
  border-right: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 1px;
  height: 805px;
}
.contactDiv {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.rentmyshelfLtdDiv {
  left: 40px;
}
.rentmyshelfLtdDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.supportDiv {
  left: 263px;
}
.contactDiv {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv5 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.footer {
  position: absolute;
  top: 964px;
  left: 0;
  width: 1440px;
  height: 41px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.lineDiv6 {
  position: absolute;
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-800);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  width: 86.25px;
  height: 40px;
}
.groupDiv {
  top: 0;
  left: 0;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 58%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv,
.hostAccountDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.hostAccountDiv {
  top: 10px;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.headerDiv {
  position: absolute;
  top: 9px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.hostAccountSettingDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
