@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }
  .addInput1{
    top: 1140px !important;
  }
  .addInput2{
    top: 1390px !important;
  }
  .footer,
  .lineDiv7{
    width: 100% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  /* .frameDiv3{
    width: 100% !important;
  } */
  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
 
  .hostAccountDiv{
    left: 190% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}

  .lineDiv,
  .lineDiv2,
  .lineDiv3,
  .lineDiv5,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }


}











.profileA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 120px;
  left: 40px;
  color: inherit;
  display: inline-block;
}
.lineDiv,
.lineDiv1 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv {
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 150%;
  height: 1px;
}
.lineDiv1 {
  top: 119.5px;
  left: 287.5px;
  border-right: 1px solid var(--color-turquoise);
  width: 1px;
  height: 1115px;
}
.collaborationsH1 {
  margin: 0;
  position: absolute;
  top: 120px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.accountSettings,
.collaborations,
.messages,
.mySpacesForRent,
.payments {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 40px;
  color: inherit;
  display: inline-block;
}
.collaborations {
  top: 188px;
  font-weight: 700;
}
.mySpacesForRent {
  top: 154px;
}
.accountSettings {
  top: 290px;
}
.messages {
  top: 222px;
}
.payments {
  top: 256px;
}
.lineDiv2 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.receivedRequestsH1 {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 720px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 133px;
  object-fit: cover;
}
.theBullDiv,
.wallSpaceLeftOfEntrance {
  position: absolute;
  left: 12px;
  width: 217px;
}
.wallSpaceLeftOfEntrance {
  top: 145px;
  display: inline-block;
}
.theBullDiv {
  top: 167px;
  color: var(--color-teal);
}
.div,
.labelTextDiv,
.theBullDiv {
  display: inline-block;
}
.div {
  position: absolute;
  top: 189px;
  left: 12px;
  text-align: right;
}
.labelTextDiv {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
}
.buttonDiv {
  position: absolute;
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: var(--m3-label-large1-size);
  color: var(--color-red-200);
}
.labelTextDiv1 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.buttonDiv1,
.labelTextDiv2 {
  font-size: var(--m3-label-large1-size);
  color: var(--color-red-200);
  text-align: right;
}
.buttonDiv1 {
  position: absolute;
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  font-family: var(--m3-label-large1);
}
.labelTextDiv2 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  display: inline-block;
}
.button,
.button1 {
  cursor: pointer;
  border: 1px solid var(--color-gray-800);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--m3-sys-light-on-primary);
  position: absolute;
  right: 12px;
  bottom: 12px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button1 {
  bottom: 64px;
}
.viewingRequestH1 {
  top: 12px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.alphaCostumesH1,
.viewingRequestH1,
.wallSpaceLeftOfEntrance2 {
  margin: 0;
  position: absolute;
  left: 12px;
  display: inline-block;
  width: 217px;
}
.alphaCostumesH1 {
  top: 48px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.wallSpaceLeftOfEntrance2 {
  top: 70px;
  color: var(--color-turquoise);
}
.closeIcon,
.p {
  position: absolute;
}
.p {
  margin: 0;
  top: 92px;
  left: 12px;
  text-align: right;
  display: inline-block;
}
.closeIcon {
  height: 54.79%;
  width: 54.79%;
  top: 22.6%;
  right: 22.6%;
  bottom: 22.6%;
  left: 22.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closeA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 12px;
  left: 214px;
  width: 24px;
  height: 24px;
}
.frameDiv,
.frameDiv1 {
  position: absolute;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.frameDiv1 {
  top: 0;
  background-color: var(--m3-sys-light-on-primary);
}
.frameDiv {
  top: 62px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
}
.section2Div {
  position: absolute;
  top: 688px;
  left: 328px;
  width: 1072px;
  height: 325px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-nunito);
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.rentmyshelfIncDiv {
  left: 40px;
}
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.supportDiv {
  left: 263px;
}
.contactDiv {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv3 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.groupFooter {
  position: absolute;
  top: 1274px;
  left: 0;
  width: 1440px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.lineDiv4 {
  position: absolute;
  top: 1044.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.sendANudgeToVendorsAsAS,
.sentNudgesH1 {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}
.sentNudgesH1 {
  top: 0;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.sendANudgeToVendorsAsAS {
  top: 50px;
  width: 1069px;
  height: 25px;
}
.div2,
.orlyArtistH6 {
  position: absolute;
  top: 87px;
}
.orlyArtistH6 {
  margin: 0;
  left: 125px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.div2 {
  left: 0;
  color: var(--color-turquoise);
}
.madHouseMerch {
  top: 121px;
  left: 125px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.madHouseMerch,
.p1,
.p2,
.potlyfeH6 {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.p1 {
  top: 121px;
  left: 0;
  color: var(--color-turquoise);
}
.p2,
.potlyfeH6 {
  top: 155px;
}
.potlyfeH6 {
  left: 125px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.p2 {
  left: 0;
  color: var(--color-turquoise);
}
.section3Div {
  position: absolute;
  top: 1057px;
  left: 328px;
  width: 1069px;
  height: 177px;
}
.confirmedCollaborationsH2 {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 0;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.clickOnYourProductsPage,
.makeSureToPrintOffYourIn {
  margin: 0;
  position: absolute;
  left: 36px;
  display: inline-block;
  width: 1024px;
}
.makeSureToPrintOffYourIn {
  top: 373px;
  height: 69px;
}
.clickOnYourProductsPage {
  top: 337px;
  height: 24px;
}
.errorIcon,
.errorIcon1 {
  position: absolute;
  top: 337px;
  left: 0;
  width: 24px;
  height: 24px;
}
.errorIcon1 {
  top: 373px;
}
.alphaCostumesH6 {
  top: 145px;
  left: 12px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  width: 217px;
}
.alphaCostumesH6,
.p3,
.shelfSpace {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.shelfSpace {
  top: 167px;
  left: 12px;
  color: var(--color-teal);
  width: 217px;
}
.p3 {
  top: 189px;
  left: 11px;
  text-align: right;
}
.button2,
.frameDiv3 {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--color-gray-800);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--m3-sys-light-on-primary);
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameDiv3 {
  top: 62px;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  width: 250px;
  height: 263px;
}
.section1 {
  position: absolute;
  top: 206px;
  left: 328px;
  width: 1072px;
  height: 442px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-800);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv5 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  width: 86.25px;
  height: 40px;
}
.groupDiv {
  top: 0;
  left: 0;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 58%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv5,
.hostAccountDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 1360.25px;
  height: 60px;
}
.hostAccountDiv {
  top: 10px;
  left: 86%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 6%;
  height: 40px;
}
.frameDiv4 {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 100%;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.hostCollaborationDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1334px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
