@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }
  .addInput1{
    top: 1140px !important;
  }
  .addInput2{
    top: 1390px !important;
  }
  .footer,
  .lineDiv7{
    width: 100% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .frameDiv3{
    width: 95% !important;
  }
  .whatIsShareAshelf{
    left: 45% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
  .frameDiv2{
    width: 100% !important;
  }
  .hostAccountDiv{
    left: 91% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 100% !important;
}

  .section1Div,
  .lineDiv,
  .lineDiv1,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }


}








.mySpacesForRent,
.profileA {
  position: absolute;
  top: 120px;
  display: inline-block;
}
.profileA {
  cursor: pointer;
  text-decoration: none;
  left: 40px;
  color: inherit;
}
.mySpacesForRent {
  margin: 0;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  width: 720px;
}
.collaborations,
.mySpacesForRent1 {
  text-decoration: none;
  position: absolute;
  left: 40px;
  color: inherit;
  display: inline-block;
}
.collaborations {
  cursor: pointer;
  top: 188px;
}
.mySpacesForRent1 {
  top: 154px;
  font-weight: 700;
}
.accountSettings,
.messages {
  cursor: pointer;
  text-decoration: none;
  left: 40px;
  color: inherit;
}
.accountSettings {
  position: absolute;
  top: 290px;
  display: inline-block;
}
.messages {
  top: 222px;
}
.currentSpacesAvailable,
.messages,
.payments {
  position: absolute;
  display: inline-block;
}
.payments {
  cursor: pointer;
  text-decoration: none;
  top: 256px;
  left: 40px;
  color: inherit;
}
.currentSpacesAvailable {
  margin: 0;
  top: 12px;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.lineDiv {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 133px;
  object-fit: cover;
}
.shelfSpaceB {
  position: absolute;
  top: 145px;
  left: 12px;
  display: inline-block;
  width: 217px;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-red-200);
  text-align: right;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-800);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--m3-sys-light-on-primary);
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addIcon,
.button,
.frameDiv {
  position: absolute;
  overflow: hidden;
}
.frameDiv {
  top: 46px;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
}
.addIcon {
  height: 56.25%;
  width: 56.25%;
  top: 21.88%;
  right: 21.88%;
  bottom: 21.88%;
  left: 21.88%;
  max-width: 100%;
  max-height: 100%;
}
.addButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 107px;
  left: 101px;
  width: 48px;
  height: 48px;
}
.frameDiv1 {
  position: absolute;
  top: 46px;
  left: 262px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.section1 {
  position: absolute;
  top: 206px;
  left: 328px;
  width: 1072px;
  height: 309px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.lineDiv1,
.lineDiv2 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv1 {
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 150%;
  height: 1px;
}
.lineDiv2 {
  top: 119.5px;
  left: 299.5px;
  border-right: 1px solid var(--color-turquoise);
  width: 1px;
  height: 805px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.rentmyshelfIncDiv {
  left: 40px;
}
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.supportDiv {
  left: 263px;
}
.contactDiv {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv3 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.groupFooter {
  position: absolute;
  top: 964px;
  left: 0;
  width: 1440px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-800);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv1 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  width: 86.25px;
  height: 40px;
}
.groupDiv {
  top: 0;
  left: 0;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 57%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv3,
.hostAccountDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.hostAccountDiv {
  top: 10px;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 8%;
  height: 40px;
}
.frameDiv2 {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.mySpacesDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
