.groupButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 1274px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 554px;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  width: 62px;
}
.frameDiv2 {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.arrowForwardIosIcon1 {
  color: var(--color-red-100);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: x-large;
}
.arrowForwardIosIcon {
  color: var(--color-red-100);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: x-large;
}
.iconButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  position: absolute;
  top: calc(50% - 377px);
  left: 95%;
  border-radius: var(--br-xl);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.iconButton,
.iconButton1,
.vendorProfileMain {
  background-color: var(--m3-sys-light-on-primary);
}
.iconButton1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  position: absolute;
  top: calc(50% - 417px);
  left: 66px;
  border-radius: var(--br-xl);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrowForwardIosIcon1 {
  color: var(--color-red-100);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: x-large;
}
.arrowForwardIosIcon {
  color: var(--color-red-100);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: x-large;
}

@media only screen and (min-width: 2500px)  {
  .frameDiv2{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 50% !important;
  }
  .signUpA{
    left: 92% !important;
    width: 20% !important;
  }
  .groupButton,
  .vectorIcon2{
        left: 96.5% !important;
  }
  .rectangleIcon,
  .lineDiv,
  .lineDiv1,
  .lineDiv2,
  .footerDiv,
  .vectorIcon,
  .loremIpsumDolorSitAmetCo{
    width: 100% !important;
  }
  .vendor-profile_vectorIcon{
    left: 98% !important;
  }
  .vectorIcon1{
    left: 94.5% !important;
  }

  .alphaCostumesMakesPremiumC{
        width: 100% !important;
  }
  .messageVendor{
    left: 88% !important;
  }


}
















.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 20px;
  left: 95%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.rectangleIcon {
  position: absolute;
  top: 80px;
  left: 40px;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.span {
  color: var(--color-gray-400);
}
.vendorI {
  font-weight: 500;
}
.alphaCostumesMakesPremiumC,
.alphaCostumesVendor {
  position: absolute;
  top: 492px;
  left: 320px;
  font-size: 48px;
  display: inline-block;
  font-family: var(--font-nunito);
}
.alphaCostumesMakesPremiumC {
  margin: 0;
  top: 652px;
  left: 40px;
  font-size: inherit;
  font-weight: 600;
  width: 1360px;
}
.alphacosplaycarrdcoDiv,
.messageVendor {
  position: absolute;
  top: 560px;
  left: 320px;
  text-decoration: underline;
  display: inline-block;
  width: 288px;
}
.messageVendor {
  text-decoration: none;
  left: 75%;
  color: var(--color-red);
  text-align: right;
  width: 294px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 511px;
  width: 20.8px;
  height: 24px;
}

.vectorIcon{
  left: 95%;
}
.vectorIcon1{
  left: 92%;
  width: 24px;
}
.vectorIcon2 {
  left: 98%;
  width: 24px;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-black);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 32px;
  display: flex;
  align-items: center;
  width: 348px;
  height: 60px;
  color: var(--color-red);
  font-family: var(--font-nunito);
}
.loremIpsumDolorSitAmetCo {
  margin: 0;
  position: absolute;
  top: 738px;
  left: 40px;
  font-size: 20px;
  line-height: 160%;
  display: inline-block;
  width: 1360px;
  height: 117px;
}
.ellipseIcon {
  position: absolute;
  top: 412px;
  left: 80px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.lineDiv {
  position: absolute;
  top: 894.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.letTheVendorKnowThatYoud,
.nudgeVendorH6 {
  margin: 0;
  position: absolute;
  left: 40px;
  display: inline-block;
}
.nudgeVendorH6 {
  top: 907px;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: var(--font-nunito);
  width: 720px;
}
.letTheVendorKnowThatYoud {
  top: 957px;
  font-size: var(--font-size-base);
}
.clothingCraftsArtist {
  position: absolute;
  top: 560px;
  left: 620px;
  color: var(--color-turquoise);
  text-align: center;
  display: inline-block;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-md);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: #fffcff;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) 12px var(--padding-md) 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 37.15%;
  width: 25.36%;
  top: 32.5%;
  right: 18.99%;
  bottom: 30.35%;
  left: 55.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 25px;
  display: flex;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 45%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 88%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  width: 8%;
}

.labelText {
  position: relative;
  font-size: var(--m3-label-large-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-white);
  text-align: center;
}
.button,
.lineDiv1 {
  position: absolute;
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: var(--color-red);
  top: 991px;
  left: 40px;
  border-radius: var(--br-md);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 148px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lineDiv1 {
  top: 1070.5px;
  left: 40.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 150%;
  height: 1px;
}
.clickOnTheCollaborationTo,
.upcomingCollaborationsH6 {
  margin: 0;
  position: absolute;
  left: 41px;
  display: inline-block;
}
.upcomingCollaborationsH6 {
  top: 1083px;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: var(--font-nunito);
  width: 720px;
}
.clickOnTheCollaborationTo {
  top: 1133px;
  font-size: var(--font-size-base);
}
.rectangleIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 133px;
  object-fit: cover;
}
.checkmateH6,
.p {
  margin: 0;
  display: inline-block;
}
.checkmateH6 {
  position: absolute;
  top: 145px;
  left: 12px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  width: 217px;
}
.p {
  top: 229px;
  left: 11px;
  text-align: right;
}
.frameDiv,
.p,
.p1 {
  position: absolute;
}
.frameDiv {
  top: 1167px;
  left: 41px;
  border-radius: var(--br-sm);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.p1 {
  margin: 0;
  top: 229px;
  left: 12px;
  text-align: right;
  display: inline-block;
}
.frameDiv1,
.hostAccount {
  position: absolute;
  font-size: var(--font-size-base);
}
.frameDiv1 {
  font-size: var(--font-size-base);
  top: 1167px;
  left: 303px;
  border-radius: var(--br-sm);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.hostAccount {
  text-decoration: none;
  top: 20px;
  left: 1146px;
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 223px;
}
.contactDiv,
.termsOfService {
  left: 324px;
}
.termsOfService {
  left: 422px;
}
.footerDiv {
  position: absolute;
  top: 1489px;
  left: 40px;
  width: 100%;
  height: 22px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.lineDiv2 {
  position: absolute;
  top: 1469.5px;
  left: -0.5px;
  border-top: 1px solid #dadada;
  box-sizing: border-box;
  width: 150%;
  height: 1px;
}
.vendorProfileDiv {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1530px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
